.input{
    padding-top: 100px ;
    background-color: rgba(255, 238, 0, 0.409);
    background-image: url("duckie.webp");
    border: 2px solid black;
    width: 300px;
    padding: 50px;
    margin: auto;
    text-align: center;
    align-self: center;
    border-radius: 70px;



}



p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 1000;
    
}
.copyright{
    font-family: 'Courier New', Courier, monospace;
}
.title{
    text-align: center;
    color: rgb(7, 7, 7);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 60px;
    border-radius: 110px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    
}

.link{
    align-items: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

}

.events{
    height: 90%;
    width: 100%;

}



body{
    background-color: rgba(0, 0, 0, 0.833);
    background-image: url("duckie.webp") ;
    
    background-position: center;
    background-repeat: no-repeat;
    

    -webkit-mask-image: radial-gradient(
        circle,
        black 60%,
        transparent 100%,
    );
    mask-image: radial-gradient(
        circle,
        black 60%,
        transparent 100%
    );
    

}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}






.drip {
    display: block;
    margin: 0 auto;
    margin-top: 15px;

    background-color: #090f0036;
    border-radius: 50px;
    color: rgb(1, 0, 0);
    font-weight: 600;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    
    font-family: 'Courier New', Courier, monospace;
}

/* Dropdown button on hover & focus */
.drip:hover, .drip:focus {
background-color: #7d8083;

} 


footer {
    
    background-color: #01000f6c;
    padding: 20px ;
    padding-bottom: 0px;
    border-radius: 40px;
    max-width: 300px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0 auto;
}


/* The container <div> - needed to position the dropdown content */
.drop {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.content {
display: none;
position: absolute;
background-color: #767676a6;
padding: 16px;
border-radius: 30px;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin: 0, auto;

}

/* Links inside the dropdown */
.content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.content a:hover {
background-color: #99e2f545;
border-radius: 40px;
}

/* Show the dropdown menu */
.show {
display: block;
}


.carousel {
  position: relative;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 30px;
  
}


.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 200px;
  object-fit: cover;
}

/* buttons */
.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
}

.prev { left: 5px; }
.next { right: 5px; }


