.input{
    padding-top: 100px ;
    background-color: rgba(255, 238, 0, 0.409);
    background-image: url("duckie.webp");
    border: 2px solid black;
    width: 300px;
    padding: 50px;
    margin: auto;
    text-align: center;
    align-self: center;
    border-radius: 70px;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 1000;
    
}
.copyright{
    font-family: 'Courier New', Courier, monospace;
}
.title{
    text-align: center;
    color: rgb(7, 7, 7);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 60px;
    border-radius: 110px;
}

footer{
    align-items: center;
    text-align: center;
    margin: 80px;
    border-radius: 10px;
    padding-top:10px;
    page-orientation: upright ;
    background-color: rgba(240, 248, 255, 0);
}

.link{
    align-items: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

}


body{
    background-color: rgba(127, 255, 212, 0.523);
    background-image: url("duckie.webp");

    

}



.drip{
background-color: #5b5a77;
border-radius: 50px;
color: rgb(1, 0, 0);
padding: 16px;
font-size: 16px;
cursor: pointer;
background-image: url("water.webp");
font-family: 'Courier New', Courier, monospace;


}

/* Dropdown button on hover & focus */
.drip:hover, .drip:focus {
background-color: #134d79;

} 

body > *:not(footer) {
  flex: 1;
}




/* The container <div> - needed to position the dropdown content */
.drop {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu */
.show {
display: block;
}